1.WRITE A PYTHON PROGRAM TO PRINT "ANYTHING YOU FIND COOL"

In [866]:
print("python ")

python

2.WRITE A PROGRAM TO ADD TWO NUMBER AND PRINT THE RESULT

In [867]:
num1=3
num2=7
add=num1+num2
print(add)

10

CONCATENATE TWO STRINGS AND PRINT THE RESULT

In [868]:
str1="esha"
str2="pageni"
result=str1+str2
print("the concatenated string is: ",result)

the concatenated string is:  eshapageni

CONCATENATE A STRING AND A NUMBER

In [869]:
string="assignment"
integer=1
result=string+str(integer)
print(result)

assignment1

3.IF ELSE STATEMENTS
 CHECK IF NUMBER IS +VE,-VE,ZERO

In [870]:
number=3
if number >0:
    print("the number is positive")
elif number <0:
    print("the number is negative")
else:
    print("the number is zero")

the number is positive

IF NUMBER INTEGER IS ODD OR EVEN

In [871]:
integer=7
if integer %2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is odd

4.LOOPS
TO PRINT NUMBER FROM 1 TO 10 USING FOR LOOP

In [872]:
for d in range (1,11):
    print(d)
    d+=1

1
2
3
4
5
6
7
8
9
10

TP PRINT 1 TO 10 USING WHILE LOOP

In [873]:
I=1
while I<=10:
    print(I)
    I+=1

1
2
3
4
5
6
7
8
9
10

CALCULATE THE SUM OF THE NUMBERS FROM 1 TO 100 USING LOOP

In [874]:
summ=0
for p in range (1,101):
    summ =summ + p
    print(summ)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

5.DATA STRUCTURE 
FIND THE LARGEST AND THE SMALLEST NUMBERS IN A LIST

In [875]:
LIST=[5,77,8,33,44]
largest=max(LIST)
smallest=min(LIST)
print("the largest is:",largest)
print("the smalllest is:",smallest)

the largest is: 77
the smalllest is: 5

CREATE A DICTIONARY WITH AT LEAST 3 KEY-VALUE PAIRS.WRITE A PROGRAM TO RETRIEVE THE VALUE OF A GIVEN KEY

In [876]:
DATA={"user":"esha","age":18,"country":"NEPAL"}
KEY="age"
if KEY in DATA:
    print("the value or answer of ",KEY,"is",DATA[KEY])
else:
    print("the element is not found")

the value or answer of  age is 18

SORT A LIST OF NUMBERS IN THE ASCENDING AND DESCENDING ORDER

In [877]:
list_of_numbers=[33,66,77,88,99,44]
ascended=sorted(list_of_numbers)
descended=sorted(list_of_numbers,reverse=True)
print("ascended number is:",ascended)
print("descended number is :",descended)

ascended number is: [33, 44, 66, 77, 88, 99]
descended number is : [99, 88, 77, 66, 44, 33]

MERGE TRWO DICTIONARIES INTO ONE

In [878]:
word1={"a":1,"b":2}
word2={"c":3,"d":4}
merged={**word1,**word2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

6.STRING OPERATIONS

COUNT THE NUMBERS OF VOWELS IN A GIVEN STRING

In [879]:
string="its my pleasure to help you"
vowels="aeiouAEIOU"
count=sum(1 for char in string if char in vowels)
print("number of vowels:",count)

number of vowels: 9

REVERSE A STRING AND PRINT IT

In [880]:
string="pythonn"
reversed=string[::-1]
print(reversed)

nnohtyp

CHECK IF A STRING IS A PALINDROME

In [881]:
string="madam"
if string ==string[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

palindrome

7.FILE HANDLING

CREATE A TEXT FILE,AND WRITE SMTHG AND READ, PRINT THE CONTENT

In [882]:
with open("example.txt","w") as file:
    file.write("bro i am so tired right now.")
with open ("example.txt","r") as file:
        content=file.read()
        print("file content:\n",content)

file content:
 bro i am so tired right now.

APPEND TEXT TO AN EXISTING FILE AND PRINT THE UPDATED CONTENT

In [883]:
with open("example.txt","a") as file:
    file.write("\n actually i was just exhausted for a while, now a cup of coffee is doing its job.")
with open("example.txt","r") as file:
    content=file.read()
    print("the updated file content:\n",content)

the updated file content:
 bro i am so tired right now.
 actually i was just exhausted for a while, now a cup of coffee is doing its job.

TO COUNT THE NUMBER OF LINES IN A TEXT FILE

In [884]:
with open("example.txt","r") as file:
    lines=file.readlines()
    print("number of lines:",len(lines))

number of lines: 2

8.EXCEPTION HANDLING

HANDLE DIVISION BY ZERO USING A TRY-EXCEPT BLOCK

In [885]:
try:
    num=10
    deno=0
    result=num/deno
except ZeroDivisionError:
    print("error :division by zero is not allowed")

error :division by zero is not allowed

HANDLE INVALID INPUT

In [886]:
try:
    num=int(input("enter a number"))
    print("you entered:",num)
except ValueError:
     print("error:invalid input.please enter a valid one")

you entered: 6

DEMONSTRATE THE USE OF FINALLY IN EXCEPTION HANDLING

In [887]:
try:
    result=10/2
    print("result:",result)
except ZeroDivisionError:
    print("error :division by zero")
finally:
    print("execution complete")

result: 5.0
execution complete

9. RANDOM NUMBERS

GENERATE 5 RANDOM NUMBERS BETWEEN 1 &100

In [888]:
import random
for i in range(5):
    n= random.randint(1,100)
    print(n)

67
24
73
47
43

GENERATE A RANDOM NUMBER AND CHECK IF IT IS PRIME

In [889]:
import math
num=random.randint(1,100)
flag=0
for i in range (2,int(math.sqrt(num))):
    if num %i==0:
        flag=1
        break
if flag==0:
    print(f'{num}is a prime number.')
else:
    print(f'{num} is not a prime number.')

22 is not a prime number.

SIMULATE ROLLING A SIX SIDED DIE

In [890]:
import random
roll=random.randint(1,6)
print("you rolled a:",roll)

you rolled a: 6

SHUFFLE A LIST OF NUMBERS

In [891]:
import random
numbers=[1,2,3,4,5]
random.shuffle(numbers)
print(numbers)

[3, 4, 5, 1, 2]

RANDOMLY SELECT AN ITEM FROM A LIST

In [892]:
import random
items=['APPLE','BANANA','CHERRY']
SELECTEDITEM=random.choice(items)
print("selected items:",SELECTEDITEM)

selected items: APPLE

PICK A RANDOM CARD FROM  A STANDARD DECK OF THE 52 CARDS

In [893]:
import random
suits=["hearts","diamonds","clubs","spades"]
ranks=["2","3","4","5","6","7","8","9","10","jack","queen","king","ace"]
deck=[rank+" of "+suit for rank in ranks for suit in suits]
card=random.choice(deck)
print("randomly seleted card",card)

randomly seleted card 5 of spades

GENERATE A RANDOM PASSWORD OF GUVEN LENGTH

In [894]:
import random
import string
length=8
characters=string.ascii_letters +string.digits + string.punctuation
password=''.join(random.choice(characters) for i in range(length))
print("generated password:",password)

generated password: LlRI/RQf

10. ACCEPT TWO NUMBERS AS COMMAND-LINE ARGUMENTS,ADD THEM AND PRINT THE RESULT

In [902]:
import sys
if len(sys.argv) != 3:
    print("give two numbers as command line arguments")
else:
    num1=sys.argv[1]
    num2=sys.argv[2]
    result=float(num1+num2)
print(result)

give two numbers as command line arguments
5.0

ACCEPT A STRING AS A COMMAND LINE ARGUMENT AND PRINT IT

In [900]:
import sys
s= sys.argv[1]
print(len(s))

107

11.USE OF MATH LIBRARY TO CALCULATE THE SQUARE ROOT OF A GIVEN NUMBER

In [901]:
import math
number=16
sqrt=math.sqrt(number)
print("the square rot of {number} is {sqrt}")

the square rot of {number} is {sqrt}

USE THE DATATIME LIBRARY TO PRINT THE CURRENT DATE AND TIME

In [904]:
from datetime import datetime
current=datetime.now()
print(current)

2025-01-12 01:04:44.178571

USE THE OS LIBRARY TO LIST ALL FILES IN THE CURRENT DIRECTORY

In [905]:
import os
files=os.listdir(".")
print("files in the current directory:")
for file in files:
    print(file)

files in the current directory:
bin
chrome_100_percent.pak
chrome_200_percent.pak
Code.exe
Code.VisualElementsManifest.xml
d3dcompiler_47.dll
example.txt
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
LICENSES.chromium.html
locales
policies
resources
resources.pak
snapshot_blob.bin
tools
unins000.dat
unins000.exe
unins000.msg
v8_context_snapshot.bin
vk_swiftshader.dll
vk_swiftshader_icd.json
vulkan-1.dll